body {
    background-color: #F5F5F5;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

.topLevelMenu {
    font-size: 0;
}

.topLevelMenu > li{
    display: inline-block;


}

.navMenu {
    font-size: 18px;
    background-color: #4C996B;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 15px 20px;
    width: 180px;
    border: 1px solid #3E7F57;
    font-family: 'Roboto', sans-serif;

}

.navMenu:hover {
    background-color: #3E7F57;
}

.subMenuContainer {
    position: relative;
}

.subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.subMenuWomen {
    display: none;
}

.navMenu:hover > .subMenu {
    display: block;
}

.subMenu:hover > .subMenuWomen {
    display: block;
}